body {
  background-image: url('../background.jpg');
  background-position-x: center;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.logo-container {
  align-self: center;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  height: 650px;
  width: 175px;
  border: 5px outset grey;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.sidebar-container > p {
  color: white;
}

.enter-key {
  height: 60px;
  width: 63px;
}

.arrow-keys {
  height: 64px;
  width: 105px;
}

.space-bar {
  height: 34px;
  width: 163px;
}
